.main {
  width: 100px;
  height: 100px;
  background-color: black;
}

.columns .col {
  display: inline-block;
}

.columns .col ul {
  padding: 0px;
}

.cell {
  display: block;
  border: solid black 1px;
  height: 10px;
  width: 10px;

}

.cell img {
  height: 10px;
  width: 10px;
    position: relative;
  bottom: 4px;
}

.cell img.alive {
  background-image:  url("/static/images/cell.gif")
}

.cell img.dead {
  background-image:  url("/static/images/dead.jpg")
}