!!!
%html{"ng-app" => "Conways"}
  %head
    %title Game of Life
    %script{src: "https://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"}
    %script{src: "/static/js/life.js"}
    %link{href: "/static/css/map.css", rel: "stylesheet", type: "text/css"}
  %body
    %span{"ng-controller" => "LifeCtrl"}
      .main{"ng-click" => "bye = 'goodbye'"}
      %div
        Two times
        %input{"ng-model" => "num"}
        equals 
      %p
