<!doctype html>
<html ng-app>
  <head>
    <title>Game of Life</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
    <script src="./js/life.js"></script>
    <link rel="stylesheet" type="text/css" href="./css/map.css">
  </head>
  <body>
    <span "ng-controller"="LifeController">
      <div class="main" "ng-click"="{bye = 'goodbye'}">
      </div>
      <p> {{bye || "hello"}} </p>
    </span>
  </body>
</html>