<!doctype html>
<html ng-app="Conways">
  <head>
    <title>Game of Life</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
    <script src="/static/js/life.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/map.css">
  </head>
  <body>
    <span  ng-controller="LifeCtrl">
      <div class="nav" ng-init="initMap(120, 100)" ng-click="loop();">
        <div class="nav-cont">
          <h1>A Game Of Life</h1>
        </div>
      </div>
      <div id="map">
        <ul class="columns">
          <li class="col" ng-repeat="col in map_size">
            <ul>
              <li id="{{$parent.$index}}-{{$index}}" class="cell" ng-repeat="row in map_size[$index]">
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </span>
  </body>
</html>
