<!doctype html>
<html ng-app="Conways">
  <head>
    <title>Game of Life</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
    <script src="/static/js/d3.v3.min.js" charset="utf-8"></script>
    <script src="/static/js/life.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/map.css">
  </head>
  <body>
    <span  ng-controller="LifeCtrl">
      <div class="nav" ng-init="generateGrid('#chart', 900, 900, 100, 100)" ng-click="loop();">
        <div class="nav-cont">
          <h1>A Game Of Life</h1>
        </div>
      </div>

      <select>
        <option ng-repeat="map in maps">{{map}}</option>
      </select>
      <div ng-click="selectMap('assortment');" class="menu">
        <a > Go!</a>
      </div>
      <div id="chart"></div>
    </span>
  </body>
</html>
